.container textarea,
.container video{
    width: 100%;
    height: 99%;
    background: #151515;
    resize: none;
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.container {
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

.selectLanguage {
    width: 100%;
    min-height: 50px;
    position: absolute;
}
.selectFont {
    width: 40%;
    font-size: 16px;
    margin-left: 5px;
}
.scheduledRoomsContainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.scheduledRoomsContainer {
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

.button-28 {
  background-color: transparent;
  border: 2px solid #888888;
  border-radius: 15px;
  box-sizing: border-box;
  color: #d5d5d5;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  /* z-index: 9999999; */
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}